
/*========================== hela bakgrunden ===========================*/
/* hela sidan */
.App {
  background-color: #000000;
  min-height: 100vh;
}

/*========================== innehållet ===========================*/
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*========================== headern ===========================*/
/* titel */
.App-header {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: #970704;
}

/*========================== text ===========================*/
/* "vanlig" text */
p {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* oanvänd */
h1 {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: normal;
}
/* recomend a movie */
h2 {
  color: #970704;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* share recomendation */
h3 {
  color: white;
  align-items: center;
  justify-content: center;
}

/*========================== share funktionen ===========================*/
.dela {
  margin: 20px;
 background-color: #333333;
 
}

/* share via facebook knappen */
.shareFacebook{
  margin: 8px;
}

/* share via email knappen */
.shareEmail{
  margin: 8px;
}

.share{
  display: flex;
  flex-direction: row;
  align-items: row;
  flex:1 1;
}

/*========================== stjärnor - ratings ===========================*/
.star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* baren som alla knappar ligger i */
.icon-bar {
  width:100%;
  height:20px;
}
/* oncklick-funktionen */

/*========================== search funktionen ===========================*/
.Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:200px;
  height: 30px;

  font-family: Arial, Helvetica, sans-serif;
  background-color:#333333;
  color: white;
}

/*========================== Description funktionen ===========================*/
.Description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:200px;
  height:100px;

  font-family: Arial, Helvetica, sans-serif;
  background-color:#333333;
  color: white;
}

/*========================== more information / help ===========================*/
.question {
  background-color: #333333;
  width: 320px;
  display: flex;
  position: fixed;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;

}


.information {
  background-color: #333333;
 
}

.inforrmationCirkle {
  width: 50px;
  height: 50px;
}

.Questionmark {
  width: 100px;
  height: 100px;
}

.info {
  margin-left: 30px;
  background-color: black;
  border-radius: 0pt;
   border:0px;
}